.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.DS_Store
src/*.o
src/*.so
src/*.dll
src/*.pdb
src/*.rds
.vscode/
renv.lock
psy_data/
inst/python/__pycache__/
data.zip
tests/testthat/..Rcheck
..Rcheck
docs/